.header
{
    height: 34vw;
    background:url('/header_img.png') no-repeat;
    margin: 30px auto;
    background-size: contain;
    position: relative;
}
.header-content 
{
    /* margin: 30px auto; */
    /* width: 30vw; */
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    max-width: 60%;
    gap: 1.2vw;
    left: 6vw;
    top: 10vh;
    animation: fadeIn 2s;
    /* top: 20vh;
    color: white;  */
   
}
.header-content h2
{
    font-weight: 500;
    font-size: max(4.5vw,22px);
    color: white;
    /* font-weight: 700; */
    margin-bottom: 20px;
}
.header-content p
{
    font-size: 1.3vw;
    color: white;
}
.header-content button
{
    background-color: white;
    color: tomato;
    border-radius: 40px;
    border: 1px solid white;
    font-size: 16px;
    /* margin: 10px auto; */
    height: 30px;
    width: 120px;
}
.header-content button:hover
{
    background-color: rgb(240, 119, 48);
    color: white;
}

@keyframes fadeIn {
    0%
    {
        opacity: 0;
    }
    100%
    {
        opacity: 1;
    }
    
}